{
  "presets": [
    [
      "env",
      {

        "babelrcRoots": [
          ".",
          "./packages/*"
        ]
      }
    ]
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": true,
        "regenerator": true
      }
    ],
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ],
    "add-module-exports"
  ],
  "overrides": [
    {
      "exclude": [
        "//node_modules$/"
      ]
    }
  ],
}
